<html>
<head><title></title></head>
<body>
<form action="">
    <label for="rating">Player Rating</label>
    <input type="text" id="rating" name="rating"/>
    <label for="rating">Threshold</label>
    <input type="text" id="threshold" name="rating"/>
    <input type="submit" />
</form>
</body>
</html>